.App{
  position: relative;
}
.a{ 
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin: auto;
  width: 990px;
  gap:12px
}
.id{
  
 
  height: 160px;
  background-color: aqua;
}
.number{
  width: 186px;
}
